@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #008F8C, #015958);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #351902;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F27405;
    text-align: center;
    text-shadow: 1px 1px 2px #5f2d01e3;
}

h2{

}

p{
    text-align: justify;
}